* {
    padding: 0;
    margin: 0;
}

section{
}
.container {
    width: 100%;
    height: 1000px;
}
.flex{
    display:flex;
}
.menu{
    margin: 5px;
}

.menu li{
    padding: 10px;
    font-weight: 900;
}
.nav { 
    height: 100%;
    width: 20%;
    background-color: #000099;
}

.main {
    background: url("https://media.kitsu.io/anime/cover_images/11382/large.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 60%;
    background-color: #000099;
}
.main img{
    max-width: 300px;
    background-size: auto;
}
.main ol li{
    list-style: none;
}
.pad{
    padding: 10px;
}
.extras {
    height: 100%;
    width: 20%;
    background-color: #000099;
}   

.clear{
    clear: both;
}

.text-pos{
    position: absolute;
    max-width: 500px;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}