* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

.cabecalho {
  border: 1px solid black;
  background-color: orange;
}

.banners {
  display:flex;
  border: 1px solid black;
  height: 690px;
  background-image: url('https://media.kitsu.io/anime/cover_images/11382/large.jpg');
  display:flex;
  justify-content: flex-end;
}

.carrossel {
  overflow-y: hidden;
}

.animes {
  display:flex; 
}



.imageAnimes {
  width: 150px;
}

.imageAnimes:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.textos {
  width: 1050px;
  margin-right: 150px; 
}

.titulo-do-anime {
  margin-bottom: 20px;
}

.container-texto {
  display:flex;
  justify-content: flex-end;
  position: absolute;
  margin-top: -690px;
  margin-left: 600px;
}

.navegacao {
  height: 50px;
  background-color: yellow;
}

.container-video {
  display: flex;
  justify-content: center;
  border: 10px solid black;
  margin-top: 100px;
}

.container-video {
  background-image: url('1b7ac7fb289a684dcd40f3d5234ea901.jpeg')
}

.titulo-video {
  display:flex;
  justify-content: center;
  margin-bottom: -50px;
  margin-top: 50px;
}

.proximo {
  display:flex;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.buton {
  padding: 20px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(51,0,255,1) 100%);
}