* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 1000px;
}

p {

display: inline-block;

}

nav { 
    height: 100%;
    width: 15%;
    background-color: blue
}

.container flex {
    color: black;
    width: 100%;
    height: 100%;
}
.flex{
    display:flex;
}

.main {
    height: 100%;
    width: 60%;
    background-color: green
}

#anime-image {
    max-width:200px;
}

#anime-name {
    max-width:300px;
}

#anime-sinopse {
    max-width:200px;
}

#anime-genero{

}

#anime-nota {

}

.news {
    height: 100%;
    width: 25%;
    background-color: yellow;
}

.clear {
    clear: both;
}
